body {
  font-family: "Lato", sans-serif;
}

#container,
#home {
  background: #b02c28;
  transition: 0.2s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dark #home,
.dark #container {
  background: #303030;
}

.navbar {
  transition: 0.2s;
}

.dark .navbar {
  background: #b02c28 !important;
}

#container {
  width: 100%;
  min-height: 100vh;
  padding-top: 64px;
}

#container h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4em;
}

@media screen and (max-width: 991px) {
  #container h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  #container h1 {
    font-size: 2em;
  }
}

#container .content {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

#container .content .fas {
  margin-right: 10px;
}

#container .content .head {
  background: #ffffff;
  padding: 20px 20px 0;
  border-radius: 15px 15px 0 0;
}

#container .content .head h3 {
  font-size: 1.4em;
  font-weight: bolder;
}

#container .content .head h4 {
  margin: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

#container .content .status {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 0 20px 20px;
  font-size: 1.5em;
  padding-top: 10px;
  border-radius: 0 0 15px 15px;
}

#container form {
  width: 80%;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

#container form button:hover {
  background: #b02c28;
  color: #ffffff;
}

#container form button:disabled {
  background: #ccc;
  color: #eee;
  cursor: not-allowed;
}

#home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home img {
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  #home img {
    max-width: 170px;
  }
}

#home h1 {
  font-size: 4em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}

#home h2 {
  font-size: 2.5em;
  color: #dddddd;
  max-width: 60%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  #home h1 {
    font-size: 3em;
  }

  #home h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  #home h1 {
    font-size: 2em;
  }

  #home h2 {
    font-size: 1.3em;
  }
}

input#email {
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b02c28;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303030;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#accordion {
  width: 70%;
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;
}

.light #accordion h3[aria-selected="true"] {
  background: #303030;
  transition: 0.2s;
}

.dark #accordion h3[aria-selected="true"] {
  background: #b02c28;
}

#accordion h3 {
  border: none;
}

/* Loading Page */

.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #303030;
  z-index: 99999;
}

.percentage {
  z-index: 100;
  border: 1px solid #ccc;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 15px;
}

.loader,
.percentage {
  height: 30px;
  max-width: 500px;
  border: 2px solid #b02c28;
  border-radius: 20px;
  font-weight: 300;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader:after,
.percentage:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.trackbar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  opacity: 0.99;
}

.loadbar {
  width: 0%;
  height: 100%;
  background: #b02c28;
  position: absolute;
  top: 0;
  left: 0;
  animation: flicker 5s infinite;
  overflow: hidden;
}

@keyframes animation {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.86;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.75;
  }
}

.fa-star {
  color: gold;
  cursor: pointer;
  font-size: 30px;
}