{% extends 'base.html' %}

{% block content %}
<div id="home">
    <img src="http://curvi.gagahpangeran.com/asset/foto.jpg">
    <h1>Gagah Pangeran Rosfatiputra</h1>
    <h2>
        <em>“Suatu pekerjaan yang berat jika tidak dikerjakan akan terasa lebih ringan”</em>
    </h2>

    <div id="accordion">
        <h3>Pengalaman Profesional</h3>
        <div class="acc-content">
            <ul>
                <li>Web Developer Part Time - Kyou.id | Juni 2018 - Sekarang</li>
                <li>Asisten Dosen DDP1 - Fasilkom UI | Januari 2018 - Sekarang</li>
                <li>Admin OA Line Computer Q&A - Q&A Group | Mei 2017 - Sekarang</li>
            </ul>
        </div>
        <h3>Organisasi dan Kepanitiaan</h3>
        <div class="acc-content">
            <ul>
                <li>Staf Mentor - PMB Fasilkom UI | Juni 2018 - Sekarang</li>
                <li>Staf Danus - Siwak-NG Fasilkom UI | Mei 2018 - November 2018</li>
                <li>Staf IT Dev - Compfest X Fasilkom UI | Maret 2018 - September 2018</li>
                <li>Staf Akademis - Betis Fasilkom UI | Januari 2018 - Mei 2018</li>
            </ul>
        </div>
        <h3>Prestasi</h3>
        <div class="acc-content">
            <ul>
                <li>Finalis ACM ICPC Regional Jakarta | 2018</li>
                <li>Juara 3 IPSC Pekan Ristek | 2017</li>
                <li>Juara 3 Code in the Dark Pekan Ristek | 2017</li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}